{% extends "firstsite/index.html"%}
{% load static %}

{% block title %}
	<title>{{post.title}}</title>
{% endblock %}

{% block cntheader%}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({% static 'img/china_sence1.jpg'%})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{post.title}}</h1>
                        <h2 class="subheading">{{post.meta_description}}</h2>
                        <span class="meta">Posted by <a href="#">Kevin</a>{{post.created_on}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock cntheader %}

{% block maincontent%}
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                	<!-- <img src="{{MEDIA_URL}}{{post.featured_image}}"></img> -->
                	{{post.content|safe }}
                </div>
            </div>
        </div>
    </article>
    <hr>

{% endblock maincontent%}
